* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.canvas1 {
    background-color: black;
    width: 100%;
}


.controlse {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 6px;
}
.controlse button {
    padding: 10px;
    width: 100%;
}

.controlse input {
    margin-top: 10px;
}

.controlse label {
    color: #fff;
    font-weight: 600;
}
